<div class="container my-5">
  <div class="jumbotron">
    <h1>Info:</h1>
    <h5>Process id : {{info.pid}}</h5>
    <h5>Operative system : {{info.os}}</h5>
    <h5>Node version : {{info.NodeVersion}}</h5>
    <h5>Memory usage: {{info.MemoryUsage.rss}}</h5>
    <h5>Directory: {{info.ArgumentosDeEntrada}}</h5>
    <h5>Proces title: {{info.ProcessTitle}}</h5>
    
    <hr>
    
    <div class="text-left">
      <button class="btn btn-success my-3" onclick="location.href = '/'">Home</button>
    </div>
  </div>
</div>